@font-face {
  font-family: 'norwester';
  src: url('./fonts/norwester.otf'); /* IE9 Compat Modes */
  src: url('./fonts/norwester.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/norwester.otf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/norwester.otf') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/norwester.otf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/norwester.otf') format('svg'); /* Legacy iOS */
}

html, body, main, section {
  height: 100%;
  min-height: 675px;
}

body {
  background: black;
  color: white;
  text-align: left;
  font-family: 'norwester';
}

main {
  display: block;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 28px;
  margin-bottom: 80px;
}

p {
  font-size: 24px;
}

.cover, .contact {
  text-align: center;
}

.cover {
  margin-top: 40%;
  height: 70%;
}

.cover p {
  color: red;
  font-family: 'Courgette', cursive;
  font-size: 24px;
}

.contact {
  height: 60%;
}

span {
  color: red;
}

footer {
  margin-top: 50%;
}

@media only screen and (min-width: 660px) {
  main {
    width: 60%;
  }
}
