@font-face {
  font-family: 'norwester';
  src: url('./fonts/norwester.otf'); /* IE9 Compat Modes */
  src: url('./fonts/norwester.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/norwester.otf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/norwester.otf') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/norwester.otf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/norwester.otf') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  background: white;
  color: black;
  text-align: left;
  font-family: 'norwester';
}

main {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 50%;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 22px;
  margin-bottom: 18px;
}

p {
  font-size: 14px;
}

section {
  display: block;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  width: 90%;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: red;
}

.cover, .contact {
  text-align: center;
}

.cover p {
  color: red;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

.contact {
  height: 50%;
  margin-bottom: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 40px;
}

a.btn {
  display: block;
  margin: 0 auto;
  font-family: 'norwester';
  font-size: 14px;
  border: 4px black solid;
  padding: 10px;
  width: 150px;
}

a.btn:hover,
a.btn:focus {
  border-color: red;
  color: red;
  cursor: pointer;
}

.testimonials p {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  margin-top: 50%;
  font-size: 14px;
}

@media only screen and (min-width: 735px) {
  body, main, section {
    height: 100%;
    min-height: 675px;
  }

  main {
    width: 60%;
  }

  .cover p {
    font-size: 22px;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 36px;
  }
  
  p {
    font-size: 22px;
  }

  li {
    display: inline;
    margin: 20px;
  }

  a.btn {
    display: inline-block;
    font-size: 18px;
  }
}